.header {
    font-family: 'Indie Flower', cursive;
    font-size: 48px;
    margin-top: 0px;
}

#maskedWord {
    margin-top: 20px;
}

#resultStatus {
    font-size: 24px;
    color: rgb(153, 10, 248); 
}

#tries {
    font-size: 16px;
    color: rgb(69, 7, 214);
    font-weight: bold;
}

.instructions {
    font-size: 1rem;
}

.jumbotron {
    padding-top: 10px;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}