.header {
    font-family: 'Indie Flower', cursive;
}

#maskedWord {
    margin-top: 40px;
}

#resultStatus {
    font-size: 24px;
    color: rgb(153, 10, 248); 
}

#tries {
    font-size: 16px;
    color: rgb(69, 7, 214);
    font-weight: bold;
}

.instructions {
    font-size: 1rem;
}